@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import "./animations/animations.css";

:root {
  --white: #ffffff;
  --black: #000000;
  --ultra-violet: #68589d;
  --veronica: #9747FF;
  --jet: #333333;
  --charcoal: #374151;
  --saffron: #f9c536;
  --savoy-blue: #626ca7;
  --carolina-blue: #89bddf;
  --delft-blue: #343a5b;
  --delft-blue-bg: #1C2034;
  --asparagus: #6DA256;
  --penn-red: #990000;

  --font-3xl: 2.488125rem;
  --font-2xl: 2.07375rem;
  --font-xl: 1.728125rem;
  --font-lg: 1.44rem;
  --font-md: 1.2rem;
  --font-default: 1rem;
  --font-sm: 0.833125rem;
  --font-xs: 0.694375rem;
  --font-2xs: 0.57875rem;

  --shadow: 0.3125rem 0.3125rem 0.5rem rgba(0, 0, 0, 0.25);
}

* {
  font-family: 'Roboto', sans-serif;
  font-size: var(--font-default);
  box-sizing: border-box;
  text-decoration: none;
  user-select: none;
  border-width: 0;
  outline: none;
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(180deg, #1C2034 0%, rgba(28, 32, 52, 0.6) 100%);
  background-color: #000000;
  flex-direction: column;
  align-items: center;
  min-height: 100dvh;
  max-width: 100dvw;
  display: flex;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100dvh;
  align-items: center;
}

button {
  border: none;
  background: none;

  cursor: pointer;
}

@media (min-width: 1024px) {
  main {
    display: grid;
    grid-template-columns: 300px 1fr 100px;
    align-items: flex-start;
    gap: 4rem;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
  }
}
