.feedContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.feedHeader {
  display: none;
}

.ideasContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (max-width: 460px) {
  .ideasContainer {
    gap: 0.5rem;
  }
}
