.nav {
  width: 100%;
  max-height: 50px;
  height: 50px;
  position: fixed;
  background: linear-gradient(180deg, rgba(52, 58, 91, 0.1) 0%, rgba(52, 58, 91, 0.6) 100%), #1C2034;

  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9998;

  padding: 15px;
}

.navTop {
  position: sticky;
  left: 0;
  top: 0;
}

.navItems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  z-index: 9998;
}

.centerContainer {
  max-height: 50px;
  width: 60px;
}

.createCenter {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  top: -1rem;

  border-radius: 50%;
  width: 60px;
  height: 60px; 
  background-color: var(--delft-blue-bg); 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 5px rgba(0, 0, 0, 0.3);
}

.createCenterTop {
  position: relative;
  top: 10px;
}

.imgRounded {
  border-radius: 9999px;
}

.dropdownMenuContent {
  min-width: 100px;
  min-height: 24px;
  background-color: white;
  padding: 5px;

  display: flex;
  flex-direction: column;
  padding: 10px 12px;
  align-items: center;

  border-radius: 12px 12px 0px 12px;
  background: linear-gradient(180deg, rgba(28, 32, 52, 0.80) 0%, rgba(52, 58, 91, 0.30) 100%), #1C2034;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  z-index: 9999!important;
}

.dropdownMenuItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;

  transition: opacity 0.3s;
}
.dropdownMenuItem:hover {
  cursor: pointer;
  opacity: 0.7;
}

.navbarIcon {
  width: 24px;
  height: 24px;
}

.duotoneUserIcon {
  width: 24px;
  height: 24px;
}
.circle {
  width: 21.6px;
  height: 21.6px;
}
.userCircle {
  width: 24px;
  height: 24px;
}