.postBody {
  flex-direction: column;
  display: flex;
  width: 100%;
}

.postCommandIcon {
  width: 20px;
  height: 20px;
}

.postCommands {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 16px;
  gap: 20px;

  border-radius: 0px 0px 12px 12px;
  border: 2px solid rgba(98, 108, 167, 0.35);
  background: linear-gradient(180deg, rgba(98, 108, 167, 0.60) 0%, rgba(98, 108, 167, 0.40) 100%);
}

.postContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 228px;
  flex-shrink: 0;
  border-radius: 12px 12px 0px 0px;
  border: 2px solid rgba(51, 51, 51, 0.35);
  border-bottom: none;
  background: linear-gradient(180deg, rgba(51, 51, 51, 0.60) 0%, rgba(51, 51, 51, 0.40) 100%);
  padding: 15px;
  gap: 10px;

  transition: height 0.3s ease-in-out;
}

.postContentArea {
  width: 100%;
  flex-grow: 1;
  min-height: var(--font-xs);
  line-height: var(--font-xs);
  font-size: var(--font-xs);
  resize: none;
}
.postContentArea::placeholder {
  font-size: var(--font-xs);
  font-weight: 300;
}

@media (min-width: 640px) {
  .postContentArea {
    line-height: var(--font-sm);
    font-size: var(--font-sm);
  }
  .postContentArea::placeholder {
    font-size: var(--font-sm);
  }
}

@media (min-width: 1024px) {
  .postContentArea {
    line-height: var(--font-default);
    font-size: var(--font-default);
  }
  .postContentArea::placeholder {
    font-size: var(--font-default);
  }
}