.chatScreen {
  position: relative;
  
  display: flex;
  height: calc(100vh - 57px - 68px);
  background: var(--white);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

@media (min-width: 460px) {
  .chatScreen {
    height: calc(100vh - 57px - 68px - 3rem);
  }
}

@media (min-width: 768px) {
  .chatScreen {
    height: calc(100vh - 4rem);
  }
}

@media (max-width: 1024px) {
  .chatScreen {
    box-shadow: none;
  }
}