.profileScreen {
  max-width: 100%;

  background: var(--white);
  border-radius: 24px;
}

.profileContent {
  padding: 0.75rem 2rem 2rem 2rem;
}

@media (max-width: 460px) {
  .profileScreen {
    border-radius: 0;
  }
}