.userProfileContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}

.duotoneUserIcon {
  width: 24px;
  height: 24px;
}
.circle {
  width: 21.6px;
  height: 21.6px;
}
.userCircle {
  width: 24px;
  height: 24px;
}

.imgRounded {
  border-radius: 50%;

  width: 24px;
  height: 24px;
}

.fixedDuotoneUserIcon {
  width: 80px;
  height: 80px;
}
.fixedCircle {
  width: 72px;
  height: 72px;
}
.fixedUserCircle {
  width: 80px;
  height: 80px;
}

@media (min-width: 1024px) {
  .duotoneUserIcon {
    width: 64px;
    height: 64px;
  }
  .circle {
    width: 48px;
    height: 48px;
  }
  .userCircle {
    width: 64px;
    height: 64px;
  }

  .imgRounded {
    border-radius: 50%;
  
    width: 64px;
    height: 64px;
  }
}