.withoutComments {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
  flex-grow: 1;
  width: auto;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
  height: auto;
}

.commentZone {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  height: auto;
}

.answerZone {
  display: flex;
  flex-direction: column;
  position: sticky;
  width: 100%;
  min-height: 50px;
  bottom: 0;
  left: 0;
}
