.icon {
  transition: opacity 0.3s;
  color: var(--white);
}

.icon:hover {
  cursor: pointer;
  opacity: 0.7;
}

.disabled {
  transition: none!important;
  cursor: default!important;
  opacity: 0.4!important;
}

.withoutClick {
  transition: none!important;
  opacity: 1!important;
  cursor: default!important;
}

.loading > path :global {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}