.icon {
  transition: opacity 0.3s;
  color: var(--white);
}

.icon:hover {
  cursor: pointer;
  opacity: 0.7;
}

.disabled {
  transition: none!important;
  cursor: default!important;
  opacity: 0.6!important;
}

@media (prefers-reduced-motion: reduce) {
  .icon {
    transition: none;
  }
}