.dropdownContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 22px 32px;
  gap: 22px;

  position: fixed;
  bottom: 48px;
  left: 0;

  border-radius: 12px 12px 0px 0px;
  border: 1px solid rgba(52, 58, 91, 0.35);
  background: linear-gradient(180deg, rgba(28, 32, 52, 0.80) 0%, rgba(52, 58, 91, 0.30) 100%), #1C2034;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(12.5px);

  z-index: 9997;
}

.confirmDropdownContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 22px;
  gap: 22px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 12px 12px 0 0;
  border: 1px solid rgba(52, 58, 91, 0.35);
  background: linear-gradient(180deg, rgba(28, 32, 52, 0.80) 0%, rgba(52, 58, 91, 0.30) 100%), #1C2034;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  z-index: 10000;
}

.confirmOptions {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.dropdownContentItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}
.dropdownContentItem:hover {
  opacity: 0.5;
}

.dropdownContentItemIcon {
  width: 24px;
  height: 24px;
  opacity: 1;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 94px;
  height: 40px;
  padding: 12px 16px;
  gap: 10px;
  border-radius: 8px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.10) 0%, rgba(0, 0, 0, 0.50) 100%);
  box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.25);
}

.confirmButton {
  background-color: var(--asparagus);
}

.cancelButton {
  background-color: var(--penn-red);
}

@media (min-width: 1280px) {
  .dropdownContent {
    position: static;
    translate: none;
    box-shadow: none;
    background: transparent;
    backdrop-filter: none;
    border: none;
    padding: 0;
  }
  .confirmDropdownContent {
    border-radius: 32px;
    box-shadow: none;
    justify-content: center;
  }
}