.ideaContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  padding: 1.5rem;
  font-weight: 400;
  font-size: 0.875rem;
  background: var(--white);
  border-radius: 16px;
  margin-bottom: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.2s;
}

.ideaContainer:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.ideaHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  color: var(--black);
}

.ideaHeader button {
  margin: 0;
  padding: 0;
  background-color: transparent;

  cursor: pointer;
}

.ideaHeaderDotsIcon {
  width: 1rem;
  height: 1rem;

  color: var(--text-primary);
}

.ideaHeaderInfo {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.ideaHeaderInfo h2 {
  font-weight: 500;
  font-size: 0.875rem;
}

.ideaHeaderInfo span {
  font-weight: 400;
}

.userImage {
  width: 1.125rem;
  height: 1.125rem;

  border-radius: 50%;
}

.ideaBody {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;

  color: var(--text-primary);
}

.ideaBody h3 {
  font-weight: 600;
  font-size: 0.875rem;
}

.ideaActions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  font-weight: 500;
  font-size: 0.75rem;
  color: var(--text-primary);
}

.ideaAction {
  display: flex;
  align-items: center;
  gap: 0.375rem;
}

.ideaActionIcon {
  width: 0.875rem;
  height: 0.875rem;

  color: var(--text-primary);
}

.ideaActionIcon span {
  margin-left: 0.375rem;
}
