.duotoneUserIcon {
  position: relative;
  width: 1rem;
  height: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.circleIcon {
  opacity: 1!important;
  color: var(--white);
  width: 0.9rem;
  height: 0.9rem;
}

.userCircleIcon {
  opacity: 1!important;
  color: var(--jet);
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 0;
  left: 0;
}

@media (min-width: 640px) {
  .duotoneUserIcon {
    width: 28px;
    height: 28px;
  }

  .circleIcon {
    width: 25.2px;
    height: 25.2px;
  }

  .userCircleIcon {
    width: 28px;
    height: 28px;
  }
}