.authWrapper {
  width: 100%;
  min-height: 100vh;

  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.navbar {
  display: none;
}

@media only screen and (min-width: 800px) {
  body {
    max-width: 600px;
    height: 100%;
    min-height: 100vh;
    width: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 2rem 0;

    margin: 0 auto;

    border: none;
    border-radius: 20px;

    position: relative;
  }

  .authWrapper {
    height: auto;
    min-height: auto;
    border: 2px solid var(--secondary-light);
    border-radius: 20px;
    padding: 3rem 3rem;
  }
}
