.form {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.field + .field {
  margin-top: 0.625rem;
}

.field .label {
  margin-bottom: 0.5rem;

  font-size: 1rem;
  font-weight: 500;
}

.field .inputBox {
  width: 100%;
  position: relative;
}

.field .inputIcon {
  width: 16px;
  height: 16px;

  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.field .input {
  width: 100%;
  padding: 0.875rem 1rem 0.875rem 3rem;

  border-radius: 12px;
  border: 1px solid var(--text-primary);

  font-weight: 500;
  font-size: 0.875rem;
  color: var(--text-primary);
}

.field .input:focus {
  outline: none;
  border: 1px solid var(--secondary-light);
}

.field .input.error, 
.termsAgreement .checkmark.error{
  outline: 2px solid var(--error);
}

.forgotLink {
  font-weight: 400;
  font-size: 0.875rem;
  color: var(--primary);
  text-decoration: underline;
}

.submitButton {
  margin-block: 2rem 0.75rem;
}

.actionLink {
  text-align: center;

  font-size: 1rem;
  color: var(--text-primary);
}

.termsAgreement input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.termsAgreement {
  margin-top: 0.625rem;

  display: flex;
  align-items: center;
  gap: 0.625rem;

  font-size: 0.875rem;
  cursor: pointer;

  position: relative;
}

.termsAgreement .checkmark {
  width: 1.125rem;
  height: 1.125rem;
  min-width: 1.125rem;
  display: inline-block;

  background-color: var(--white);

  border-radius: 4px;
  border: 1px solid var(--text-primary);

  transition: background 0.3s, border 0.3s;
}

.termsAgreement input:checked + .checkmark {
  background-color: var(--text-primary);
  border-color: var(--text-primary);
}

.termsAgreement .checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 6px;
  top: 3px;

  width: 4px;
  height: 8px;

  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.termsAgreement input:checked + .checkmark::after {
  display: block;
}

.passwordValidation {
  margin-block: 0.625rem;
  padding: 0.625rem 0.75rem;

  border-radius: 12px;
  border: 1px solid var(--primary);

  font-weight: 500;
  font-size: 0.875rem;
}

.validityItems {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0.375rem;

  margin-top: 0.25rem;
}

.validityItem {
  padding: 0.375rem;
  border-radius: 4px;
  border: 1px solid var(--text-primary);

  display: flex;
  align-items: center;
  gap: 0.375rem;

  color: var(--text-secondary);
}

.validityItem .validityIcon {
  width: 0.875rem;
  height: 0.875rem;
}

.validityItem.valid {
  color: var(--success);
  border: 1px solid var(--success);
}

.validityItem.nonValid {
  color: var(--error);
  border: 1px solid var(--error);
}

.errorMessage {
  margin-top: 0.25rem;

  font-weight: 400;
  font-size: 0.75rem;
  color: var(--error);
}
