:root {
  --bg: #ffffff;

  --primary: #603dfa;
  --secondary: #967ffa;
  --secondary-light: #D8CEFA;

  --text-primary: #1d134d;
  --text-secondary: #353535;

  --black: #000000;
  --white: #ffffff;
  --success: #56d22c;
  --error: #df1a1a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: var(--font-roboto);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text-primary);
  background: var(--background);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--secondary);
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  border: none;
  border-radius: 8px;
  padding: 0.875rem 1rem;
  background-color: var(--primary);

  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
}