@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  --white: #FFFFFF;
  --black: #000000;
  --ultra-violet: #68589D;
  --jet: #333333;
  --saffron: #F9C536;
  --savoy-blue: #626CA7;
  --carolina-blue: #89BDDF;
  --delft-blue: #343A5B;
  --delft-blue-bg: #1C2034;

  --font-3xl: 39.81px;
  --font-2xl: 33.18px;
  --font-xl: 27.65px;
  --font-lg: 23.04px;
  --font-md: 19.20px;
  --font-default: 16px;
  --font-sm: 13.33px;
  --font-xs: 11.11px;

  --shadow: 5px 5px 8px rgba(0, 0, 0, 0.25);
}

* {
  font-family: Roboto, sans-serif;
  font-size: var(--font-default);
  box-sizing: border-box;
  text-decoration: none;
  user-select: none;
  border-width: 0;
  outline: none;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--delft-blue-bg);
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
}