:root {
  --white: #FFFFFF;
  --black: #000000;

  --font_default: 16px;
}

* {
  font-family: Roboto, sans-serif;
  font-size: var(--font_default);
  box-sizing: border-box;
  text-decoration: none;
  user-select: none;
  border-width: 0;
  outline: none;
  padding: 0;
  margin: 0;
}

body {
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
}