.main {
  padding-top: 10px;
}

.postZone {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 100%;
  
  max-width: 100vw;
  min-height: 100vh;
  
  gap: 26px;
  padding-bottom: 70px;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: auto;
  align-items: center;
  justify-content: space-between;
  padding: 0 18px;
}

@media (min-width: 640px) {
  .postZone {
    width: 60%;
  }
}

@media (min-width: 1024px) {
  .main {
    padding: 0;
  }

  .postZone {
    padding: 1.5rem 0;

    width: 100%;

    max-width: 850px;

    margin-inline: auto;
  }

  .header {
    padding: 0;
  }
}