.main {
  padding-top: 10px;
}

.postZone {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
  width: 100%;
  min-height: 100vh;
  gap: 26px;
  padding-bottom: 70px;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: auto;
  align-items: center;
  justify-content: space-between;
  padding: 0 18px;
}

@media (min-width: 640px) {
  .postZone {
    width: 60%;
  }
}

@media (min-width: 1024px) {
  .main {
    padding: 3.8vh 3.8vh 0 3.8vh;
    gap: 90px;
  }
  .postZone {
    width: 50%;
  }
}

@media (min-width: 1280px) {
  .main {
    padding: 5vh 5vh 0 5vh;
  }
  .postZone {
    width: 45%;
  }
}