.imgContainer {
  width: 100%;
  height: 150px;

  border-radius: 8px;
  border: 1px solid var(--primary);

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  overflow: hidden;
}

.img {
  height: 100%;
  width: auto;
}

.imgIcon {
  width: 5.25rem;
  height: 5.25rem;

  color: var(--primary);
}
