.dropdownFilters {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 6px;

  border-radius: 8px;
  background: linear-gradient(180deg, rgba(28, 32, 52, 0.80) 0%, rgba(52, 58, 91, 0.30) 100%), linear-gradient(180deg, #1C2034 0%, rgba(28, 32, 52, 0.60) 100%), #000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.dropdownItem {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.3s;
}
.dropdownItem:hover {
  opacity: 0.5;
}

.dropdownCircleIcon {
  color: transparent;
  border: 3px solid var(--delft-blue);
  border-radius: 9999px;
}

.dropdownSelectedCircleIcon {
  color: var(--savoy-blue);
  border: 3px solid var(--delft-blue);
  border-radius: 9999px;
}