.postHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.postUser {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3125rem;
}

.userIcon {
  width: 24px;
  height: 24px;
  border-radius: 9999px;
}

@media (min-width: 640px) {
  .userIcon {
    width: 36px;
    height: 36px;
  }
}