.createPost {
  padding: 20px 18px;
  gap: 18px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.closeCreate {
  width: 4.75rem;
  height: 0px;
  border: 0.25rem solid var(--carolina-blue);
  border-radius: 9999px;
  transform: matrix(1, 0, 0, 1, 0, 0);
  cursor: pointer;
  transition: opacity 0.3s;
}
.closeCreate:hover {
  opacity: 0.5;
}

@media (min-width: 1024px) {
  .main {
    padding: 3.8dvh 3.8dvh 0 3.8dvh;
    justify-content: space-between;
  }
  .closeCreateLink {
    display: none;
  }
  .createPost {
    padding: 42px;
    width: 40dvw;
    border-radius: 32px;
    border: 3px solid #343A5B;
    background: #1C2034;
  }
}