.center {
  text-align: center;
  overflow-wrap: break-word;
}

.justify {
  text-align: justify;
  overflow-wrap: break-word;
}

.left {
  text-align: left;
  overflow-wrap: break-word;
}

.white {
  color: var(--white);
}

.loading :global {
  color: transparent;
  background: linear-gradient(270deg, var(--charcoal) 0%, rgba(55, 65, 81, 0.5) 50%, var(--charcoal) 100%);
  background-size: 500% 350%;
  animation: pulseBackground 1.5s ease-in-out reverse infinite;
}

.fixed_lg {
  font-size: var(--font-lg)!important;
}

.fixed_md {
  font-size: var(--font-md)!important;
}

.fixed_default {
  font-size: var(--font-default)!important;
}

.fixed_sm {
  font-size: var(--font-sm)!important;
}

.fixed_xs {
  font-size: var(--font-xs)!important;
}

.fixed_xxs {
  font-size: var(--font-2xs)!important;
}

.lg {
  font-size: var(--font-lg);
}

.md {
  font-size: var(--font-md);
}

.default {
  font-size: var(--font-default);
}

.sm {
  font-size: var(--font-sm);
}

.xs {
  font-size: var(--font-xs);
}

.xxs {
  font-size: var(--font-2xs);
}

.thin {
  font-weight: 100!important;
}

.light {
  font-weight: 300!important;
}

.regular {
  font-weight: 400!important;
}

.medium {
  font-weight: 500!important;
}

.bold {
  font-weight: 700!important;
}

.black {
  font-weight: 900!important;
}

@media (min-width: 640px) {
  .lg {
    font-size: var(--font-xl);
  }
  .md {
    font-size: var(--font-lg);
  }
  .default {
    font-size: var(--font-md);
  }
  .sm {
    font-size: var(--font-default);
  }
  .xs {
    font-size: var(--font-sm);
  }
  .xxs {
    font-size: var(--font-xs);
  }
}

@media (min-width: 1024px) {
  .lg {
    font-size: var(--font-2xl);
  }
  .md {
    font-size: var(--font-xl);
  }
  .default {
    font-size: var(--font-lg);
  }
  .sm {
    font-size: var(--font-md);
  }
  .xs {
    font-size: var(--font-default);
  }
  .xxs {
    font-size: var(--font-sm);
  }
}