.navbar {
  width: 100%;
  padding: 1rem;

  border-top: 1px solid var(--text-primary);
  background-color: var(--white);

  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.navItems {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
  color: var(--text-primary);
}

.icon.disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.icon.active {
  color: var(--primary);
}
