.layoutContainer {
  display: grid;
  grid-template-columns: 320px 1fr;
  padding-right: 2rem;
  gap: 2rem;

  min-height: 100vh;

  background: var(--background-light);

  position: relative;

  &.hasRightColumn {
    grid-template-columns: 320px 1fr 436px;
    padding-right: 0;
  }
}

.mainContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  margin-inline: auto;
}

.layoutContainer:not(.hasRightColumn) .mainContent {
  max-width: 1200px;
  margin-inline: 0;
  margin-right: auto;
}

.contentWrapper {
  flex: 1;
  padding-block: 2rem;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.sidebarContainer {
  position: fixed;
  width: 320px;
  height: 100vh;
  left: 0;
  top: 0;
}

.rightContainer {
  position: fixed;
  right: 0;
  top: 0;
  width: 436px;
  height: 100vh;
}

.mobileMenuBar {
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 1rem;
  gap: 1rem;

  width: 100%;
  background: var(--white);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.mobileMenuBar img {
  width: 90px;
}

.mobileMenuBarButtons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.mobileMenuBarButtons button {
  background: none;
  padding: 0;

  font-size: 1.5rem;
  line-height: 0.5;
  color: var(--text-primary);
}

@media (max-width: 1280px) {
  .layoutContainer {
    &.hasRightColumn {
      grid-template-columns: 320px 1fr;
      padding-right: 2rem;
    }
  }

  .rightColumnContainer {
    display: none;
  }
}

@media (max-width: 1024px) {
  .layoutContainer {
    grid-template-columns: calc(320px - 32px) 1fr;

    &.hasRightColumn {
      grid-template-columns: calc(320px - 32px) 1fr;
      padding-right: 2rem;
    }
  }

  .sidebarContainer {
    width: calc(320px - 32px);
    height: 100vh;
  }
}

@media (max-width: 768px) {
  .mobileMenuBar {
    display: flex;
  }

  .layoutContainer {
    background: var(--white);
  }

  .layoutContainer,
  .layoutContainer.hasRightColumn {
    grid-template-columns: 1fr;
    grid-template-rows: 68px 1fr;

    gap: 0;

    padding: 1.5rem;
    padding-bottom: calc(1.5rem + 58px);
  }

  .mainContent {
    padding-bottom: 0;
  }

  .sidebarContainer {
    position: relative;
    height: 68px;
    width: 100%;
    z-index: 1;
  }

  .contentWrapper {
    padding: 0;
  }
}

@media (max-width: 460px) {
  .layoutContainer,
  .layoutContainer.hasRightColumn {
    padding-top: 0 !important;
    padding-inline: 0;
    padding-bottom: 58px;
  }
}
