.link {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 12px;
  position: relative;
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 2px solid rgba(51, 51, 51, 0.35);
}

.linkInformations {
  display: flex;
  gap: 8px;
  flex-direction: column;
  width: 100%;
}

.linkImage {
  width: 66px;
  height: 66px;
  object-fit: cover;
  border-radius: 0.5rem;
}