.stats {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  padding: 0.75rem 1rem;
  background: var(--background-light);

  border-radius: 12px;
}

.stat {
  display: flex;
  align-items: center;
  gap: 0.25rem;

  font-size: 0.75rem;
  font-weight: 400;
  color: var(--text-gray);
}

.statIcon {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--secondary);
}
