.root {
  height: max-content;
  width: 100%;
}

.content {
  background-color: var(--jet);
  flex-direction: column;
  border-radius: 8px;
  align-items: flex-start;
  padding: 10px;
  overflow: hidden;
  display: flex;
  color: var(--white);
  gap: 10px;
}
.root[data-state="open"] .content :global {
  animation: slideDownHeight 300ms ease-in-out;
}
.root[data-state="closed"] .content :global {
  animation: slideUpHeight 300ms ease-in-out;
}

.item {
  justify-content: center;
  flex-direction: row;
  align-items: center;
  display: flex;
  gap: 5px;
}

.collapsableIcon {
  color: var(--carolina-blue);
}