.wrapper {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.logoWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;

  margin-bottom: 2.25rem;
}
.logoWrap h1 {
  font-size: var(--font-xl);
}


.loginOptions {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.625rem;

  margin-block: 1.25rem;
}

.loginOptions h3 {
  font-weight: 300;
  font-size: var(--font-default);
}

.loginOptions ul {
  list-style: none;

  display: flex;
  align-items: center;
  gap: 2rem;
}
.loginOptions ul li {
  cursor: pointer;
}

.createAccount {
  font-size: var(--font-sm);
  font-weight: lighter;
  opacity: 80%;

  text-align: center;
}
