.field {
  background-color: var(--jet);
  border-radius: 6px;
  align-items: center;
  padding: 10px 22px;
  display: flex;
  width: 100%;
  gap: 10px;
}

.field svg {
  width: 1rem;
}

@media (min-width: 640px) {
  .field {
    height: 50px;
  }
}