.field {
  background-color: var(--jet);
  border-radius: 8px;
  align-items: center;
  padding: 8px 22px;
  display: flex;
  height: 45px;
  width: 260px;
  gap: 10px;
}

@media (min-width: 640px) {
  .field {
    width: 314px;
    height: 50px;
  }
}

@media (min-width: 1024px) {
  .field {
    width: 350px;
  }
}