.comments {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.commentZone {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.moreAwsners {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.showMoreIcon {
  width: 1rem;
  height: 1rem;
}

@media (min-width: 640px) {
  .showMoreIcon {
    width: 1.25rem;
    height: 1.25rem;
  }
}