.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.userIcon {
  border-radius: 9999px;
  height: 1rem;
  width: 1rem;
}

.userZone {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.3125rem;
}

.date {
  opacity: 0.5;
}

.reportIcon {
  width: 14px;
  height: 14px;
}

@media (min-width: 640px) {
  .userIcon {
    width: 1.75rem;
    height: 1.75rem;
  }
  .reportIcon {
    width: 24.5px;
    height: 24.5px;
  }  
}