.postZone {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  min-height: 100vh;
  margin-top: 10px;
  padding: 0 18px 1.5rem 18px;
  gap: 26px;
}

@media (min-width: 640px) {
  .postZone {
    width: 50vw;
  }
}