.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  align-items: center;
}

.closeCreate {
  width: 4.75rem;
  height: 0px;
  margin-top: 18px;
  border: 0.25rem solid var(--carolina-blue);
  border-radius: 9999px;
  transform: matrix(1, 0, 0, 1, 0, 0);
  cursor: pointer;
  transition: opacity 0.3s;
}
.closeCreate:hover {
  opacity: 0.5;
}