.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logoWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  margin-bottom: 1.2rem;
}

.redirectBelowButton {
  opacity: 0.8;
}
.redirectBelowButton:hover {
  opacity: 0.6;
}