.header {
  background: var(--white);
  border-radius: 24px 24px 0 0;
  overflow: hidden;
}

.banner {
  width: 100%;
  height: 150px;
  background: linear-gradient(135deg, var(--primary) 0%, var(--secondary) 100%);
  position: relative;
}

.bannerImage {
  object-fit: cover;
}

.profileInfo {
  padding: 0 2rem 0 2rem;
  position: relative;
}

.avatarContainer {
  margin-top: calc(-60px - 0.25rem);
  margin-bottom: 1rem;
  padding: 0.25rem;
  width: calc(92px + 0.5rem);
  background: var(--white);
  border-radius: 12px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  padding-bottom: 0.75rem;
  border-bottom: 1px solid var(--border-primary);
}

.info h1 {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--text-primary);
}

.nameEditContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.editBtn {
  font-size: 1.5rem;
  line-height: 0.5;
  color: var(--text-primary);

  padding: 0;
  background: none;

  transition: color 0.2s;
  cursor: pointer;
}

.editBtn:hover {
  color: var(--primary);
}

.username {
  font-size: 0.75rem;
  color: var(--text-secondary);
}

.bio {
  font-size: 0.75rem;
  color: var(--text-primary);
  line-height: 1.25;
  margin-bottom: 1rem;
}

.links {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  margin-bottom: 1rem;
}

.links a {
  font-size: 0.875rem;
  color: var(--primary);
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

.followBtn {
  width: fit-content;

  display: flex;
  align-items: center;
  gap: 0.25rem;
  
  padding: 0.5rem 1rem;
  background: var(--primary);

  border: none;
  border-radius: 8px;
  border: 1px solid var(--primary);

  font-size: 0.875rem;
  font-weight: 500;
  color: var(--white);

  cursor: pointer;
  transition: all 0.2s;

  &.following {
    background: var(--white);
    color: var(--primary);
  }

  & .icon {
    font-size: 1.25rem;
  }
}

.followBtn:hover {
  filter: brightness(1.1);
}

@media (max-width: 460px) {
  .header {
    border-radius: 0;
  }
}