.content {
  background-color: var(--jet);
  flex-direction: column;
  border-radius: 8px;
  align-items: flex-start;
  overflow: hidden;
  display: flex;
  gap: 10px;
}
.content[data-state="open"] {
  animation: slideDown 300ms ease-out;
  padding: 10px;
}
.content[data-state="closed"] {
  animation: slideUp 300ms ease-out;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
}